set hlsearch
"set cursorline
set surround
set multiple-cursors
set incsearch
set ideamarks
set ignorecase
set relativenumber number

" jk is escape
inoremap jk <esc>

let mapleader = ","
set NERDTree
set easymotion
set commentary
set sneak
set clipboard+=unnamed

" NERDTree, Use F3 for toggle NERDTree
" let g:NERDTree="<F3>"
" nmap <silent> <F3> :NERDTree<CR>
"nmap <F3> :NERDTree<CR>
" sethandler <C-Z> a:vim
nmap <leader>ne :NERDTreeFind<cr>

" to find action name run 'track action Ids'
map <leader>bs <Action>(ShowBookmarks)
map <leader>bt <Action>(ToggleBookmark)
map <leader>ca <Action>(CloseAllEditors)
map <leader>cp <Action>(CloseAllUnpinnedEditors)
map <leader>db <Action>(ActivateDatabaseToolWindow)
map <leader>fu <Action>(FindUsages)
map <leader>gi <Action>(GotoImplementation)
map <leader>gmu <Action>(MethodUp)
map <leader>gmd <Action>(MethodDown)
map <leader>ha <Action>(HideAllWindows)
map <leader>hc <Action>(HideActiveWindow)
map <leader>os <Action>(FileStructurePopup)
map <leader>p <Action>(PinActiveTabToggle)
map <leader>re <Action>(RenameElement)
map <leader>rf <Action>(RenameFile)
map <leader>vd <Action>(ToggleDistractionFreeMode)
map <leader>qc <Action>(ActivateAIAssistantToolWindow)
map <leader>qd <Action>(ActivateDatabaseToolWindow)
map <leader>scr <Action>(NewScratchFile)
map <leader>sht <Action>(ActivateTODOToolWindow)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <C-W>q <Action>(CloseAllEditors)

set highlightedyank
let g:highlightedyank_highlight_duration = "1500"
